workflow/Vendor Document Analysis Agent.json
{
  "name": "Vendor Document Analysis Agent",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "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"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claude_request_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -320,
        -128
      ],
      "id": "0dc71526-b7f6-4b70-9fd0-3966e7236bda",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "formTitle": "Vendor Document Submission - Certa Risk Platform",
        "formDescription": "Upload all vendor onboarding documents for AI-powered risk analysis. Accepted formats: PDF, DOCX, CSV, PNG, JPG.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Vendor Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Vendor Category",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "IT Services"
                  },
                  {
                    "option": "Financial Services"
                  },
                  {
                    "option": "Legal & Compliance"
                  },
                  {
                    "option": "HR & Payroll"
                  },
                  {
                    "option": "Other"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Submitter Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Packet Reference"
            },
            {
              "fieldLabel": "Upload Documents",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -2288,
        -176
      ],
      "id": "c714e5e6-50a0-4558-a238-d596b434b7fa",
      "name": "Vendor Document Submission",
      "webhookId": "17c45284-7654-4e95-ae61-ca58b17386b8"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst form = item.json;\n\nconst vendorName = form['Vendor Name'] || 'Unknown Vendor';\nconst vendorCategory = form['Vendor Category'] || 'Other';\nconst submitterEmail = form['Submitter Email'] || '';\nconst packetReference = form['Packet Reference'] || '';\n\nconst vendorSlug = vendorName.toUpperCase().replace(/[^A-Z0-9]/g, '_').substring(0, 20);\nconst timestamp = new Date().toISOString().replace(/[-:T]/g, '').substring(0, 14);\nconst packetId = 'PKT-' + vendorSlug + '-' + timestamp;\nconst today = new Date().toISOString().split('T')[0];\n\nconst checklists = {\n  'IT Services': ['contract', 'compliance_certificate', 'data_privacy_agreement', 'vendor_registration'],\n  'Financial Services': ['contract', 'compliance_certificate', 'financial_statement', 'vendor_registration', 'insurance_certificate'],\n  'Legal & Compliance': ['contract', 'vendor_registration', 'insurance_certificate'],\n  'HR & Payroll': ['contract', 'data_privacy_agreement', 'vendor_registration'],\n  'Other': ['contract', 'vendor_registration'],\n};\nconst expectedDocs = checklists[vendorCategory] || checklists['Other'];\n\n// Read ALL binary keys — n8n names them Upload_Documents, Upload_Documents_1, Upload_Documents_2 etc.\nconst binaryKeys = Object.keys(item.binary || {});\n\nconst files = binaryKeys.map((key, index) => {\n  const bin = item.binary[key];\n  return {\n    file_index:  index,\n    filename:    bin.fileName || bin.filename || 'file_' + index,\n    mimetype:    bin.mimeType || bin.mimetype || 'application/octet-stream',\n    file_size:   bin.fileSize || bin.bytes || 0,\n    binary_key:  key,  // Upload_Documents, Upload_Documents_1, Upload_Documents_2 etc.\n  };\n});\n\nreturn [{\n  json: {\n    packet_id:        packetId,\n    vendor_name:      vendorName,\n    vendor_category:  vendorCategory,\n    submitter_email:  submitterEmail,\n    packet_reference: packetReference || packetId,\n    today:            today,\n    expected_docs:    expectedDocs,\n    total_files:      files.length,\n    files:            files,\n    submitted_at:     new Date().toISOString(),\n  },\n  binary: item.binary,\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        -176
      ],
      "id": "38ead050-bae7-4303-91ed-dcb4ed4766f5",
      "name": "Build Packet Metadata"
    },
    {
      "parameters": {
        "jsCode": "const packet = $input.first();\nconst data = packet.json;\nconst allBinary = packet.binary || {};\n\nif (!data.files || data.files.length === 0) {\n  return [{ json: { error: true, error_message: 'No files found' } }];\n}\n\nconst items = data.files.map((file) => {\n  const itemBinary = {};\n  if (file.binary_key && allBinary[file.binary_key]) {\n    itemBinary['file_data'] = allBinary[file.binary_key];\n  }\n\n  return {\n    json: {\n      file_index:       file.file_index,\n      filename:         file.filename,\n      mimetype:         file.mimetype,\n      file_size:        file.file_size,\n      binary_key:       'file_data',\n      // Add unique item marker — this survives through Extract from File for CSV\n      item_marker:      `ITEM_${file.file_index}_${file.filename}`,\n\n      packet_id:        data.packet_id,\n      vendor_name:      data.vendor_name,\n      vendor_category:  data.vendor_category,\n      submitter_email:  data.submitter_email,\n      packet_reference: data.packet_reference,\n      today:            data.today,\n      expected_docs:    data.expected_docs,\n      total_files:      data.files.length,\n      submitted_at:     data.submitted_at,\n    },\n    binary: itemBinary,\n  };\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1840,
        -176
      ],
      "id": "a48d7b4c-5666-47e0-a790-fe9622af5a5e",
      "name": "Split Files into Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimetype }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fac1fad3-6d45-4bbd-9dd6-d6f2c7f390e2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b5eb15e4-396e-41d5-b5a5-e63dddabb061",
                    "leftValue": "={{ $json.mimetype }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dc76158b-470a-4401-bed0-8f8ec56fd070",
                    "leftValue": "={{ $json.mimetype }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f34456ac-86f6-4219-97a8-358a3fc797c8",
                    "leftValue": "={{ $json.mimetype }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "XLSX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2b7f50ff-ce6e-4c29-a57e-c02b7d8ab545",
                    "leftValue": "={{ $json.mimetype }}",
                    "rightValue": "image/png",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image PNG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7b833230-6511-4844-9274-46aa1ddfc9e7",
                    "leftValue": "={{ $json.mimetype }}",
                    "rightValue": "image/jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image JPEG"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1600,
        -240
      ],
      "id": "9fab3a4a-6d79-49f2-9507-a33ccb5926db",
      "name": "Format Router"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst splitData = $('Split Files into Items').first().json;\n\nreturn [{\n  json: {\n    file_index:       splitData.file_index,\n    filename:         splitData.filename,\n    mimetype:         splitData.mimetype,\n    file_size:        splitData.file_size,\n    binary_key:       splitData.binary_key,\n    packet_id:        splitData.packet_id,\n    vendor_name:      splitData.vendor_name,\n    vendor_category:  splitData.vendor_category,\n    submitter_email:  splitData.submitter_email,\n    packet_reference: splitData.packet_reference,\n    today:            splitData.today,\n    expected_docs:    splitData.expected_docs,\n    total_files:      splitData.total_files,\n    submitted_at:     splitData.submitted_at,\n\n    extracted_text:     '',\n    extraction_method:  'docx_unsupported',\n    is_image:           false,\n    is_base64:          false,\n    extraction_success: false,\n    extraction_note:    'DOCX format not supported by native extractor in this n8n version. Convert to PDF before submission.',\n    flags: [{\n      flag_id:           'FLAG_FORMAT_001',\n      flag_type:         'incomplete_submission',\n      severity:          'medium',\n      title:             'DOCX format not extractable',\n      detail:            'File ' + splitData.filename + ' is in DOCX format which cannot be automatically extracted. Manual review required.',\n      field_reference:   'file_format',\n      days_until_expiry: null,\n    }],\n    recommended_action: 'review',\n    action_reason:      'DOCX extraction not supported — manual review required',\n    summary:            'File ' + splitData.filename + ' could not be automatically extracted. Please convert to PDF and resubmit.',\n  },\n  binary: {},\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        -368
      ],
      "id": "e294f86c-79e6-4e84-975a-f14ddf122d41",
      "name": "Extract DOCX Text"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\nreturn [{\n  json: {\n    file_index:         data.file_index,\n    filename:           data.filename,\n    mimetype:           data.mimetype,\n    file_size:          data.file_size,\n    binary_key:         data.binary_key,\n    packet_id:          data.packet_id,\n    vendor_name:        data.vendor_name,\n    vendor_category:    data.vendor_category,\n    submitter_email:    data.submitter_email,\n    packet_reference:   data.packet_reference,\n    today:              data.today,\n    expected_docs:      data.expected_docs,\n    total_files:        data.total_files,\n    submitted_at:       data.submitted_at,\n    extracted_text:     '',\n    extraction_method:  'vision_png',\n    is_image:           true,\n    is_base64:          true,\n    extraction_success: true,\n  },\n  binary: item.binary || {},\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        96
      ],
      "id": "37ce5498-1bbf-4980-86fc-7d72f1c36c38",
      "name": "Extract PNG Base64"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\nreturn [{\n  json: {\n    file_index:         data.file_index,\n    filename:           data.filename,\n    mimetype:           data.mimetype,\n    file_size:          data.file_size,\n    binary_key:         data.binary_key,\n    packet_id:          data.packet_id,\n    vendor_name:        data.vendor_name,\n    vendor_category:    data.vendor_category,\n    submitter_email:    data.submitter_email,\n    packet_reference:   data.packet_reference,\n    today:              data.today,\n    expected_docs:      data.expected_docs,\n    total_files:        data.total_files,\n    submitted_at:       data.submitted_at,\n    extracted_text:     '',\n    extraction_method:  'vision_jpeg',\n    is_image:           true,\n    is_base64:          true,\n    extraction_success: true,\n  },\n  binary: item.binary || {},\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        240
      ],
      "id": "0c97e8fe-023f-4798-bfc4-3807897d4362",
      "name": "Extract JPEG Base64"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -720,
        -192
      ],
      "id": "740f5124-e698-42c4-a85c-17006e2736e2",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file_data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1312,
        -544
      ],
      "id": "739a811f-11d1-4d0d-9b7b-6cf708e31d98",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const allExtractItems = $input.all();\nconst allSplitItems = $('Split Files into Items').all();\n\nconst results = allExtractItems.map((extractItem, index) => {\n  const extractData = extractItem.json;\n  const extractedText = extractData.text || extractData.data || '';\n\n  // Try to match using item_marker if Extract from File preserved it\n  let splitData = null;\n\n  if (extractData.item_marker) {\n    splitData = allSplitItems.find(s =>\n      s.json.item_marker === extractData.item_marker\n    )?.json;\n  }\n\n  // Fallback: match PDF items positionally\n  if (!splitData) {\n    const pdfSplitItems = allSplitItems.filter(s =>\n      (s.json.mimetype || '').includes('pdf') ||\n      (s.json.filename || '').endsWith('.pdf')\n    );\n    splitData = pdfSplitItems[index]?.json;\n  }\n\n  // Final fallback\n  if (!splitData) {\n    splitData = allSplitItems[index]?.json || allSplitItems[0].json;\n  }\n\n  return {\n    json: {\n      file_index:         splitData.file_index,\n      filename:           splitData.filename,\n      mimetype:           splitData.mimetype,\n      file_size:          splitData.file_size,\n      binary_key:         splitData.binary_key,\n      packet_id:          splitData.packet_id,\n      vendor_name:        splitData.vendor_name,\n      vendor_category:    splitData.vendor_category,\n      submitter_email:    splitData.submitter_email,\n      packet_reference:   splitData.packet_reference,\n      today:              splitData.today,\n      expected_docs:      splitData.expected_docs,\n      total_files:        splitData.total_files,\n      submitted_at:       splitData.submitted_at,\n      extracted_text:     extractedText,\n      extraction_method:  'pdf_native',\n      is_image:           false,\n      is_base64:          false,\n      extraction_success: extractedText.length > 0,\n    },\n    binary: extractItem.binary || {},\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -544
      ],
      "id": "98104481-1fb6-4a0c-a7c4-c999bf7f21a4",
      "name": "Merge PDF Text"
    },
    {
      "parameters": {
        "jsCode": "const allExtractItems = $input.all();\nconst allSplitItems = $('Split Files into Items').all();\n\n// Find the CSV item in Split Files\nconst csvSplitItem = allSplitItems.find(s =>\n  (s.json.mimetype || '').includes('csv') ||\n  (s.json.filename || '').endsWith('.csv')\n)?.json;\n\n// If no CSV found, find XLSX\nconst xlsxSplitItem = !csvSplitItem ? allSplitItems.find(s =>\n  (s.json.mimetype || '').includes('spreadsheet') ||\n  (s.json.filename || '').endsWith('.xlsx')\n)?.json : null;\n\nconst meta = csvSplitItem || xlsxSplitItem || allSplitItems[0]?.json || {};\n\n// Convert all CSV rows to readable text\nconst lines = [];\nfor (const item of allExtractItems) {\n  const row = item.json;\n  const skipKeys = ['packet_id','vendor_name','vendor_category','submitter_email',\n    'packet_reference','today','expected_docs','total_files','submitted_at',\n    'file_index','filename','mimetype','file_size','binary_key','item_marker',\n    'text','numpages','numrender','info','version','data'];\n  const values = Object.entries(row)\n    .filter(([k]) => !skipKeys.includes(k))\n    .map(([k, v]) => String(v || '').trim())\n    .filter(v => v.length > 0);\n  if (values.length > 0) {\n    lines.push(values.join(' | '));\n  }\n}\n\nconst extractedText = lines.join('\\n');\n\nreturn [{\n  json: {\n    file_index:         meta.file_index,\n    filename:           meta.filename,\n    mimetype:           meta.mimetype,\n    file_size:          meta.file_size,\n    binary_key:         meta.binary_key,\n    packet_id:          meta.packet_id,\n    vendor_name:        meta.vendor_name,\n    vendor_category:    meta.vendor_category,\n    submitter_email:    meta.submitter_email,\n    packet_reference:   meta.packet_reference,\n    today:              meta.today,\n    expected_docs:      meta.expected_docs,\n    total_files:        meta.total_files,\n    submitted_at:       meta.submitted_at,\n    extracted_text:     extractedText,\n    extraction_method:  'csv_native',\n    is_image:           false,\n    is_base64:          false,\n    extraction_success: extractedText.length > 0,\n  },\n  binary: {},\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -240
      ],
      "id": "ec945d5f-204e-4591-9db7-6a74463857a3",
      "name": "Merge CSV Text"
    },
    {
      "parameters": {
        "binaryPropertyName": "file_data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1200,
        -240
      ],
      "id": "58083bbe-b2ee-4de0-8e31-bfec46a13060",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file_data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1200,
        -80
      ],
      "id": "82506de2-b9f0-4993-b40a-3955ed5b8cdd",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "jsCode": "const allExtractItems = $input.all();\nconst allSplitItems = $('Split Files into Items').all();\n\nconst lines = [];\nlet splitData = null;\n\nfor (const item of allExtractItems) {\n  const row = item.json;\n\n  // Get split data from first item that has filename\n  if (!splitData && row.filename) {\n    splitData = row;\n  }\n\n  const skipKeys = ['packet_id','vendor_name','vendor_category','submitter_email',\n    'packet_reference','today','expected_docs','total_files','submitted_at',\n    'file_index','filename','mimetype','file_size','binary_key','text','numpages',\n    'numrender','info','version','data'];\n  const values = Object.entries(row)\n    .filter(([k]) => !skipKeys.includes(k))\n    .map(([k, v]) => String(v || '').trim())\n    .filter(v => v.length > 0);\n  if (values.length > 0) {\n    lines.push(values.join(' | '));\n  }\n}\n\nconst extractedText = lines.join('\\n');\nconst meta = splitData || allSplitItems[0]?.json || {};\n\nreturn [{\n  json: {\n    file_index:         meta.file_index,\n    filename:           meta.filename,\n    mimetype:           meta.mimetype,\n    file_size:          meta.file_size,\n    binary_key:         meta.binary_key,\n    packet_id:          meta.packet_id,\n    vendor_name:        meta.vendor_name,\n    vendor_category:    meta.vendor_category,\n    submitter_email:    meta.submitter_email,\n    packet_reference:   meta.packet_reference,\n    today:              meta.today,\n    expected_docs:      meta.expected_docs,\n    total_files:        meta.total_files,\n    submitted_at:       meta.submitted_at,\n    extracted_text:     extractedText,\n    extraction_method:  'xlsx_native',\n    is_image:           false,\n    is_base64:          false,\n    extraction_success: extractedText.length > 0,\n  },\n  binary: {},\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -80
      ],
      "id": "9917c7e3-2c1c-4c00-8363-ec00eb3216bf",
      "name": "Merge XLSX Text"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst results = allItems.map((item, currentIndex) => {\n  const data = item.json;\n\n  const systemPrompt = `You are a document intelligence agent for a vendor risk management platform. Your job is to analyse vendor onboarding documents and return structured JSON output. You are precise, thorough, and conservative — when in doubt, flag rather than ignore.\n\nCRITICAL RULES:\n1. Return ONLY valid JSON. No prose, no markdown code fences, no explanation before or after. Your entire response must be parseable by JSON.parse().\n2. Never invent or hallucinate field values. If a field is not present in the document, set \"value\": null and \"present\": false.\n3. Today's date is ${data.today}. Use this to calculate days_until_expiry for all date fields.\n4. Return confidence scores honestly. If text is unclear, handwritten, or partially obscured, confidence must reflect this (below 0.7).\n5. For flags: be specific. Include exact values, dates, and clause names in the detail field.\n6. The document_name field in your JSON response MUST be set to exactly the filename provided in the user message — do not modify, shorten, or change it in any way.\n\nDOCUMENT TYPES you can classify:\n- vendor_registration\n- compliance_certificate\n- contract\n- financial_statement\n- data_privacy_agreement\n- insurance_certificate\n- unknown\n\nFor vendor_registration extract: legal_entity_name, cin_or_registration_number, entity_type, incorporation_date, jurisdiction, registered_address, pan_number, gst_number, directors, ubo_declaration, primary_contact_name, primary_contact_email, bank_details_present\n\nFor compliance_certificate extract: certification_body, standard_name, certificate_number, scope, issue_date, expiry_date, days_until_expiry, accreditation_body, covered_entities, renewal_conditions\n\nFor contract extract: parties, effective_date, term_duration, auto_renewal, governing_law, jurisdiction, payment_terms, liability_cap_present, indemnification_present, ip_ownership, termination_notice_days, sla_uptime_percentage, dispute_resolution, data_protection_clause_present\n\nFor financial_statement extract: period, revenue_current, revenue_prior, revenue_yoy_change_pct, net_profit, ebitda, total_assets, total_liabilities, total_equity, debt_to_equity_ratio, auditor_name, audit_opinion, going_concern_note, currency, restatements_present\n\nFor data_privacy_agreement extract: controller_name, processor_name, personal_data_categories, processing_purpose, retention_period, sub_processors_listed, sub_processors, data_residency_declared, actual_infrastructure_locations, breach_notification_period, dpo_contact, gdpr_basis, cross_border_transfer_mechanism\n\nFor insurance_certificate extract: insurer_name, policy_number, coverage_type, coverage_limit, effective_date, expiry_date, days_until_expiry, named_insured, additional_insured, exclusions\n\nFLAGGING RULES:\n- expiry_imminent: days_until_expiry <= 90. Severity = critical if <= 30, high if <= 90.\n- missing_clause: contract missing liability_cap_present=false or indemnification_present=false. Severity = critical.\n- financial_anomaly: revenue drop > 20% YoY, OR audit_opinion is qualified or adverse, OR going_concern_note is true, OR debt_to_equity > 5. Severity = critical. One flag per anomaly.\n- regulatory_risk: sub_processors_listed false, OR data residency conflict, OR breach_notification_period null. Severity = high per issue.\n- certification_scope_gap: certificate scope does not cover vendor primary activity. Severity = medium.\n- incomplete_submission: required fields null or unreadable. Severity = medium.\n\nReturn exactly this JSON structure:\n{\n  \"packet_id\": \"\",\n  \"document_name\": \"\",\n  \"document_type\": \"\",\n  \"classification_confidence\": 0.0,\n  \"processing_mode\": \"single_pass\",\n  \"extracted_fields\": {},\n  \"flags\": [],\n  \"completeness_check\": {\"expected_fields_present\": true, \"missing_expected_fields\": []},\n  \"needs_verification_fields\": [],\n  \"recommended_action\": \"\",\n  \"action_reason\": \"\",\n  \"summary\": \"\"\n}`;\n\n  let messageContent;\n\n  if (data.is_image) {\n    messageContent = `Analyse the following document and return the JSON output as instructed.\n\nPacket ID: ${data.packet_id}\nDocument filename: ${data.filename}\nVendor name: ${data.vendor_name}\nToday's date: ${data.today}\n\nIMPORTANT: You must set document_name in your JSON response to exactly this value: \"${data.filename}\" — do not change, shorten, or modify this filename in any way.\n\nNOTE: This document is an image file (${data.media_type || 'image'}) named \"${data.filename}\". The image content could not be automatically extracted in this environment. Please:\n1. Set document_name to exactly \"${data.filename}\"\n2. Classify document_type as \"insurance_certificate\" based on the filename\n3. Return empty extracted_fields with present: false and confidence: 0 for all insurance_certificate fields\n4. Raise one incomplete_submission flag noting the image requires manual review\n5. Set recommended_action to \"review\"\n6. Note in summary that this is an image requiring manual extraction`;\n  } else {\n    messageContent = `Analyse the following document and return the JSON output as instructed.\n\nPacket ID: ${data.packet_id}\nDocument filename: ${data.filename}\nVendor name: ${data.vendor_name}\nToday's date: ${data.today}\n\nIMPORTANT: You must set document_name in your JSON response to exactly this value: \"${data.filename}\" — do not change, shorten, or modify this filename in any way.\n\nDocument content:\n${data.extracted_text}`;\n  }\n\n  const requestBody = {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 2000,\n    system: systemPrompt,\n    messages: [{\n      role: 'user',\n      content: messageContent,\n    }]\n  };\n\n  return {\n    json: {\n      ...data,\n      claude_request_body: JSON.stringify(requestBody),\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -128
      ],
      "id": "3a503cfe-e664-4d4e-9add-667a6e539c5a",
      "name": "Build Claude Request"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst results = allItems.map(item => {\n  const data = item.json;\n\n  const severityRank = { critical: 4, high: 3, medium: 2, low: 1 };\n  const flagWeights = {\n    expiry_imminent:        10,\n    missing_clause:          9,\n    financial_anomaly:       9,\n    regulatory_risk:         7,\n    data_inconsistency:      7,\n    incomplete_submission:   5,\n    certification_scope_gap: 4,\n    unknown:                 3,\n  };\n\n  const normalisedFlags = (data.flags || []).map((flag, index) => {\n    const flagType = flag.flag_type || flag.type || 'unknown';\n\n    const titleMap = {\n      expiry_imminent:        'Certificate or document expiring imminently',\n      missing_clause:         'Required contract clause missing',\n      financial_anomaly:      'Financial anomaly detected',\n      regulatory_risk:        'Regulatory compliance risk',\n      data_inconsistency:     'Cross-document data conflict',\n      incomplete_submission:  'Incomplete or unreadable submission',\n      certification_scope_gap:'Certification scope gap detected',\n    };\n    const title = flag.title && flag.title !== 'Unnamed flag'\n      ? flag.title\n      : (titleMap[flagType] || 'Risk flag detected');\n\n    const fieldRef = flag.field_reference && flag.field_reference !== 'unspecified'\n      ? flag.field_reference\n      : (flag.affected_field || flag.field || 'unspecified');\n\n    let daysUntilExpiry = flag.days_until_expiry;\n    if (!daysUntilExpiry && flagType === 'expiry_imminent') {\n      const daysField = data.extracted_fields?.days_until_expiry?.value;\n      daysUntilExpiry = daysField || null;\n    }\n\n    const severityScore = severityRank[flag.severity] || 1;\n    const typeWeight = flagWeights[flagType] || 3;\n    const urgencyScore = severityScore * typeWeight;\n\n    return {\n      flag_id:           `FLAG_${String(index + 1).padStart(3, '0')}`,\n      flag_type:         flagType,\n      severity:          flag.severity || 'medium',\n      title:             title,\n      detail:            flag.detail || '',\n      field_reference:   fieldRef,\n      days_until_expiry: daysUntilExpiry,\n      urgency_score:     urgencyScore,\n    };\n  });\n\n  const totalUrgencyScore = normalisedFlags.reduce((sum, f) => sum + f.urgency_score, 0);\n\n  const needsVerification = [];\n  const extractedFields = data.extracted_fields || {};\n  for (const [fieldName, fieldData] of Object.entries(extractedFields)) {\n    if (fieldData && typeof fieldData === 'object' && fieldData.confidence < 0.7) {\n      needsVerification.push(fieldName);\n    }\n  }\n\n  const actionMap = {\n    approve:              'approve',\n    review:               'review',\n    escalate:             'escalate',\n    block:                'block',\n    urgent_renewal_required: 'escalate',\n    immediate_escalation: 'escalate',\n    flag:                 'review',\n    hold:                 'review',\n  };\n  const recommendedAction = actionMap[data.recommended_action] || 'review';\n\n  const severityToAction = {\n    critical: 'escalate',\n    high:     'review',\n    medium:   'review',\n    low:      'approve',\n    none:     'approve',\n  };\n  const actionFromSeverity = severityToAction[data.max_severity] || 'review';\n  const finalAction = actionFromSeverity === 'escalate' ? 'escalate' : recommendedAction;\n\n  return {\n    json: {\n      packet_id:               data.packet_id,\n      document_name:           data.document_name,\n      document_type:           data.document_type,\n      classification_confidence: data.classification_confidence,\n      vendor_name:             data.vendor_name,\n      vendor_category:         data.vendor_category,\n      submitter_email:         data.submitter_email,\n      packet_reference:        data.packet_reference,\n      today:                   data.today,\n      expected_docs:           data.expected_docs,\n      total_files:             data.total_files,\n      submitted_at:            data.submitted_at,\n      filename:                data.filename,\n      extracted_fields:        extractedFields,\n      flags:                   normalisedFlags,\n      flag_count:              normalisedFlags.length,\n      max_severity:            data.max_severity,\n      total_urgency_score:     totalUrgencyScore,\n      needs_verification_fields: needsVerification,\n      completeness_check:      data.completeness_check,\n      recommended_action:      finalAction,\n      action_reason:           data.action_reason,\n      summary:                 data.summary,\n      token_usage:             data.token_usage,\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -128
      ],
      "id": "248aacb7-158d-4adb-b6c2-877f4c28fbdc",
      "name": "Flag Engine"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst results = allItems.map(rawItem => {\n  const rawResponse = rawItem.json;\n\n  const textContent = rawResponse.content[0].text;\n\n  let parsed;\n  try {\n    parsed = JSON.parse(textContent);\n  } catch (e) {\n    return {\n      json: {\n        parse_error: true,\n        error_message: e.message,\n        packet_id: 'PARSE_ERROR',\n        document_type: 'unknown',\n        flags: [],\n        recommended_action: 'block',\n        action_reason: 'Claude response could not be parsed as valid JSON',\n        summary: 'Parsing failed — manual review required',\n      }\n    };\n  }\n\n  // Normalise recommended_action\n  const actionMap = {\n    approve:                 'approve',\n    review:                  'review',\n    escalate:                'escalate',\n    block:                   'block',\n    urgent_renewal_required: 'escalate',\n    immediate_escalation:    'escalate',\n    require_amendment:       'escalate',\n    flag:                    'review',\n    hold:                    'review',\n  };\n  parsed.recommended_action = actionMap[parsed.recommended_action] || 'review';\n\n  if (!parsed.flags) parsed.flags = [];\n\n  parsed.flags = parsed.flags.map((flag, index) => {\n    const flagType = flag.flag_type || flag.type || flag.flagType || 'unknown';\n\n    let daysUntilExpiry = flag.days_until_expiry || flag.daysUntilExpiry || null;\n    if (!daysUntilExpiry && flagType === 'expiry_imminent' && parsed.extracted_fields) {\n      const dueField = parsed.extracted_fields.days_until_expiry;\n      daysUntilExpiry = dueField ? (dueField.value || null) : null;\n    }\n\n    return {\n      flag_id:           flag.flag_id || `FLAG_${String(index + 1).padStart(3, '0')}`,\n      flag_type:         flagType,\n      severity:          flag.severity || 'medium',\n      title:             flag.title || flagType,\n      detail:            flag.detail || '',\n      field_reference:   flag.field_reference || flag.affected_field || flag.field || 'unspecified',\n      days_until_expiry: daysUntilExpiry,\n    };\n  });\n\n  // Compute max_severity\n  const severityRank = { critical: 4, high: 3, medium: 2, low: 1 };\n  const maxSeverityRank = parsed.flags.reduce((max, flag) => {\n    return Math.max(max, severityRank[flag.severity] || 0);\n  }, 0);\n  const rankToSeverity = { 4: 'critical', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\n  parsed.max_severity = rankToSeverity[maxSeverityRank];\n\n  parsed.token_usage = {\n    input_tokens:  rawResponse.usage?.input_tokens || 0,\n    output_tokens: rawResponse.usage?.output_tokens || 0,\n  };\n\n  // Restore packet metadata from Build Claude Request node\n  // Match by filename since items may be in different order\n  const allBuildItems = $('Build Claude Request').all();\n\n// Primary: match by exact filename Claude returned\nlet matchedBuild = allBuildItems.find(b =>\n  b.json.filename === parsed.document_name\n)?.json;\n\n// Secondary: match by partial filename\nif (!matchedBuild) {\n  matchedBuild = allBuildItems.find(b => {\n    const buildName = (b.json.filename || '').toLowerCase();\n    const parsedName = (parsed.document_name || '').toLowerCase();\n    return buildName.length > 5 && parsedName.includes(buildName.substring(0, 10));\n  })?.json;\n}\n\n// Final: use index but also override document_name with correct filename\nconst currentIndex = allItems.indexOf(rawItem);\nif (!matchedBuild) {\n  matchedBuild = allBuildItems[currentIndex]?.json || allBuildItems[0].json;\n}\n\n// Always override document_name with the correct filename from Build Claude Request\n// This ensures the filename in output always matches the actual file processed\nparsed.document_name = matchedBuild.filename || parsed.document_name;\n\n  return {\n    json: {\n      ...parsed,\n      vendor_name:       matchedBuild.vendor_name,\n      vendor_category:   matchedBuild.vendor_category,\n      submitter_email:   matchedBuild.submitter_email,\n      packet_reference:  matchedBuild.packet_reference,\n      filename:          matchedBuild.filename,\n      today:             matchedBuild.today,\n      expected_docs:     matchedBuild.expected_docs,\n      total_files:       matchedBuild.total_files,\n      submitted_at:      matchedBuild.submitted_at,\n      extraction_method: matchedBuild.extraction_method,\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -128
      ],
      "id": "6ba8a3f0-3936-4f08-8f73-ce8e05db335d",
      "name": "Parse Code"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst results = allItems.map(item => {\n  const data = item.json;\n  const extractedFields = data.extracted_fields || {};\n\n  // ── Part 1: Document-level field completeness ─────────────────────────\n  const missingFields = [];\n  const lowConfidenceFields = [...(data.needs_verification_fields || [])];\n\n  for (const [fieldName, fieldData] of Object.entries(extractedFields)) {\n    if (!fieldData || fieldData.value === null || fieldData.present === false) {\n      missingFields.push(fieldName);\n    }\n  }\n\n  const completenessFlags = [];\n  if (missingFields.length > 0) {\n    completenessFlags.push({\n      flag_id:           `FLAG_COMPLETE_${String(data.flags.length + 1).padStart(3, '0')}`,\n      flag_type:         'incomplete_submission',\n      severity:          'medium',\n      title:             'Required fields missing or unreadable',\n      detail:            `The following fields could not be extracted from ${data.document_name}: ${missingFields.join(', ')}`,\n      field_reference:   missingFields[0],\n      days_until_expiry: null,\n      urgency_score:     10,\n    });\n  }\n\n  // ── Part 2: Specific critical field checks by document type ───────────\n  const criticalFieldFlags = [];\n\n  if (data.document_type === 'contract') {\n    const liabilityCap = extractedFields.liability_cap_present;\n    const indemnification = extractedFields.indemnification_present;\n\n    if (liabilityCap && liabilityCap.value === false) {\n      criticalFieldFlags.push({\n        flag_id:           'FLAG_CONTRACT_001',\n        flag_type:         'missing_clause',\n        severity:          'critical',\n        title:             'Liability cap clause missing',\n        detail:            'Contract does not contain a liability cap clause. This is a critical risk — unlimited liability exposure.',\n        field_reference:   'liability_cap_present',\n        days_until_expiry: null,\n        urgency_score:     36,\n      });\n    }\n\n    if (indemnification && indemnification.value === false) {\n      criticalFieldFlags.push({\n        flag_id:           'FLAG_CONTRACT_002',\n        flag_type:         'missing_clause',\n        severity:          'critical',\n        title:             'Indemnification clause missing',\n        detail:            'Contract does not contain an indemnification clause. Legal exposure without indemnification protection.',\n        field_reference:   'indemnification_present',\n        days_until_expiry: null,\n        urgency_score:     36,\n      });\n    }\n  }\n\n  if (data.document_type === 'data_privacy_agreement') {\n    const subProcessors = extractedFields.sub_processors_listed;\n    const breachNotification = extractedFields.breach_notification_period;\n    const dataResidency = extractedFields.data_residency_declared;\n    const actualInfra = extractedFields.actual_infrastructure_locations;\n\n    if (subProcessors && subProcessors.value === false) {\n      criticalFieldFlags.push({\n        flag_id:           'FLAG_DPA_001',\n        flag_type:         'regulatory_risk',\n        severity:          'high',\n        title:             'Sub-processors not listed',\n        detail:            'DPA does not list approved sub-processors as required under GDPR Article 28 and DPDP Act 2023.',\n        field_reference:   'sub_processors_listed',\n        days_until_expiry: null,\n        urgency_score:     21,\n      });\n    }\n\n    if (breachNotification && (breachNotification.value === null || breachNotification.value === '')) {\n      criticalFieldFlags.push({\n        flag_id:           'FLAG_DPA_002',\n        flag_type:         'regulatory_risk',\n        severity:          'high',\n        title:             'Breach notification period not specified',\n        detail:            'DPA does not specify a breach notification timeline. DPDP Act and GDPR both require defined notification periods.',\n        field_reference:   'breach_notification_period',\n        days_until_expiry: null,\n        urgency_score:     21,\n      });\n    }\n\n    if (dataResidency && actualInfra) {\n      const declared = String(dataResidency.value || '').toLowerCase();\n      const actual = String(actualInfra.value || '').toLowerCase();\n      if (actual && actual !== 'null' && actual !== '' && !actual.includes(declared.split(',')[0])) {\n        criticalFieldFlags.push({\n          flag_id:           'FLAG_DPA_003',\n          flag_type:         'regulatory_risk',\n          severity:          'high',\n          title:             'Data residency conflict detected',\n          detail:            `Declared residency is \"${dataResidency.value}\" but actual infrastructure includes \"${actualInfra.value}\". Cross-border transfer mechanism required.`,\n          field_reference:   'actual_infrastructure_locations',\n          days_until_expiry: null,\n          urgency_score:     21,\n        });\n      }\n    }\n  }\n\n  if (data.document_type === 'financial_statement') {\n    const auditOpinion = extractedFields.audit_opinion;\n    const goingConcern = extractedFields.going_concern_note;\n\n    if (auditOpinion && ['qualified', 'adverse', 'disclaimer'].includes(\n      String(auditOpinion.value || '').toLowerCase())) {\n      criticalFieldFlags.push({\n        flag_id:           'FLAG_FIN_001',\n        flag_type:         'financial_anomaly',\n        severity:          'critical',\n        title:             'Qualified or adverse audit opinion',\n        detail:            `Auditor issued a ${auditOpinion.value} opinion. This indicates material financial risk.`,\n        field_reference:   'audit_opinion',\n        days_until_expiry: null,\n        urgency_score:     36,\n      });\n    }\n\n    if (goingConcern && goingConcern.value === true) {\n      criticalFieldFlags.push({\n        flag_id:           'FLAG_FIN_002',\n        flag_type:         'financial_anomaly',\n        severity:          'critical',\n        title:             'Going concern note present',\n        detail:            'Auditor has raised a going concern note indicating material uncertainty about the vendor continuing as a business.',\n        field_reference:   'going_concern_note',\n        days_until_expiry: null,\n        urgency_score:     36,\n      });\n    }\n  }\n\n  // ── Merge all flags ───────────────────────────────────────────────────\n  const allFlags = [\n    ...data.flags,\n    ...completenessFlags,\n    ...criticalFieldFlags,\n  ];\n\n  const severityRank = { critical: 4, high: 3, medium: 2, low: 1 };\n  const maxSeverityRank = allFlags.reduce((max, flag) => {\n    return Math.max(max, severityRank[flag.severity] || 0);\n  }, 0);\n  const rankToSeverity = { 4: 'critical', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\n  const maxSeverity = rankToSeverity[maxSeverityRank];\n\n  const totalUrgencyScore = allFlags.reduce((sum, f) => sum + (f.urgency_score || 0), 0);\n\n  const severityToAction = {\n    critical: 'escalate',\n    high:     'review',\n    medium:   'review',\n    low:      'approve',\n    none:     'approve',\n  };\n  const finalAction = severityToAction[maxSeverity] || 'review';\n\n  return {\n    json: {\n      packet_id:                data.packet_id,\n      document_name:            data.document_name,\n      document_type:            data.document_type,\n      classification_confidence: data.classification_confidence,\n      filename:                 data.filename,\n      vendor_name:              data.vendor_name,\n      vendor_category:          data.vendor_category,\n      submitter_email:          data.submitter_email,\n      packet_reference:         data.packet_reference,\n      today:                    data.today,\n      expected_docs:            data.expected_docs,\n      total_files:              data.total_files,\n      submitted_at:             data.submitted_at,\n      extracted_fields:         extractedFields,\n      flags:                    allFlags,\n      flag_count:               allFlags.length,\n      max_severity:             maxSeverity,\n      total_urgency_score:      totalUrgencyScore,\n      missing_fields:           missingFields,\n      needs_verification_fields: lowConfidenceFields,\n      completeness_check:       data.completeness_check,\n      current_doc_type:         data.document_type,\n      recommended_action:       finalAction,\n      action_reason:            data.action_reason,\n      summary:                  data.summary,\n      token_usage:              data.token_usage,\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -128
      ],
      "id": "5e67e97b-15fc-4e3b-a809-dfb81dbbe4a7",
      "name": "Completeness Checker"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ab2a2aed-30fd-4023-a0b2-56374f315adb",
              "leftValue": "={{ $json.max_severity }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        496,
        -128
      ],
      "id": "c2f21ebd-11a6-4570-9722-5ef735c2dfbe",
      "name": "Severity Router"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KBqD1zKB-sBtw-vTy3YlHHWJHJh-_lPKFBVbrEoGShY",
          "mode": "list",
          "cachedResultName": "Vendor Risk Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KBqD1zKB-sBtw-vTy3YlHHWJHJh-_lPKFBVbrEoGShY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Document Analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KBqD1zKB-sBtw-vTy3YlHHWJHJh-_lPKFBVbrEoGShY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Packet ID": "={{ $json.packet_id }}",
            "Document Name": "={{ $json.document_name }}",
            "Document Type": "={{ $json.document_type }}",
            "Vendor Name": "={{ $json.vendor_name }}",
            "Vendor Category": "={{ $json.vendor_category }}",
            "Submitter Email": "={{ $json.submitter_email }}",
            "Packet Reference": "={{ $json.packet_reference }}",
            "Submission Date": "={{ $json.submitted_at }}",
            "Recommended Action": "={{ $json.recommended_action }}",
            "Max Severity": "={{ $json.max_severity }}",
            "Flag Count": "={{ $json.flag_count }}",
            "Total Urgency Score": "={{ $json.total_urgency_score }}",
            "Flags Summary": "={{ JSON.stringify($json.flags) }}",
            "Extracted Fields": "={{ JSON.stringify($json.extracted_fields) }}",
            "Missing Fields": "={{ JSON.stringify($json.missing_fields) }}",
            "Needs Verification": "={{ JSON.stringify($json.needs_verification_fields) }}",
            "Action Reason": "={{ $json.action_reason }}",
            "Summary": "={{ $json.summary }}",
            "Input Tokens": "={{ $json.token_usage.input_tokens }}",
            "Output Tokens": "={{ $json.token_usage.output_tokens }}",
            "Today": "={{ $json.today }}",
            "Filename": "={{ $json.filename }}"
          },
          "matchingColumns": [
            "Packet ID"
          ],
          "schema": [
            {
              "id": "Packet ID",
              "displayName": "Packet ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Document Name",
              "displayName": "Document Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Document Type",
              "displayName": "Document Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor Category",
              "displayName": "Vendor Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitter Email",
              "displayName": "Submitter Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Packet Reference",
              "displayName": "Packet Reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommended Action",
              "displayName": "Recommended Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Max Severity",
              "displayName": "Max Severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Flag Count",
              "displayName": "Flag Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Urgency Score",
              "displayName": "Total Urgency Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Flags Summary",
              "displayName": "Flags Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Extracted Fields",
              "displayName": "Extracted Fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Missing Fields",
              "displayName": "Missing Fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Needs Verification",
              "displayName": "Needs Verification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action Reason",
              "displayName": "Action Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Input Tokens",
              "displayName": "Input Tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output Tokens",
              "displayName": "Output Tokens",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Today",
              "displayName": "Today",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Filename",
              "displayName": "Filename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        -128
      ],
      "id": "9b8ef552-9a81-4dfe-b7b6-ab218460fdce",
      "name": "Google Sheet Update",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOacGbKrb5rlJVaD",
          "name": "Google Sheets account 34"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kshijin92@gmail.com",
        "subject": "=CRITICAL FLAG — {{ $json.vendor_name }} | {{ $json.document_name }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">      <div style=\"background: #1a3c5e; padding: 20px; border-radius: 8px 8px 0 0;\">     <h1 style=\"color: white; margin: 0; font-size: 18px;\">       🚨 Critical Risk Flag Detected     </h1>     <p style=\"color: #a0c4e8; margin: 4px 0 0 0; font-size: 13px;\">       Certa Vendor Risk Agent — Automated Alert     </p>   </div>    <div style=\"background: #fff0f0; border: 2px solid #c0392b; padding: 16px;\">     <p style=\"margin: 0; font-size: 14px; color: #a32d2d; font-weight: bold;\">       Immediate action required — this vendor packet contains one or more critical risk flags.     </p>   </div>    <div style=\"background: #ffffff; border: 1px solid #dddddd; padding: 20px;\">          <table style=\"width: 100%; border-collapse: collapse; font-size: 13px;\">       <tr style=\"background: #f5f7fa;\">         <td style=\"padding: 8px 12px; font-weight: bold; color: #333; width: 35%;\">Vendor Name</td>         <td style=\"padding: 8px 12px; color: #111;\">{{ $json.vendor_name }}</td>       </tr>       <tr>         <td style=\"padding: 8px 12px; font-weight: bold; color: #333;\">Document</td>         <td style=\"padding: 8px 12px; color: #111;\">{{ $json.document_name }}</td>       </tr>       <tr style=\"background: #f5f7fa;\">         <td style=\"padding: 8px 12px; font-weight: bold; color: #333;\">Document Type</td>         <td style=\"padding: 8px 12px; color: #111;\">{{ $json.document_type }}</td>       </tr>       <tr>         <td style=\"padding: 8px 12px; font-weight: bold; color: #333;\">Packet ID</td>         <td style=\"padding: 8px 12px; color: #111;\">{{ $json.packet_id }}</td>       </tr>       <tr style=\"background: #f5f7fa;\">         <td style=\"padding: 8px 12px; font-weight: bold; color: #333;\">Max Severity</td>         <td style=\"padding: 8px 12px; color: #c0392b; font-weight: bold;\">CRITICAL</td>       </tr>       <tr>         <td style=\"padding: 8px 12px; font-weight: bold; color: #333;\">Flag Count</td>         <td style=\"padding: 8px 12px; color: #111;\">{{ $json.flag_count }}</td>       </tr>       <tr style=\"background: #f5f7fa;\">         <td style=\"padding: 8px 12px; font-weight: bold; color: #333;\">Recommended Action</td>         <td style=\"padding: 8px 12px; color: #c0392b; font-weight: bold; text-transform: uppercase;\">{{ $json.recommended_action }}</td>       </tr>       <tr>         <td style=\"padding: 8px 12px; font-weight: bold; color: #333;\">Submitted By</td>         <td style=\"padding: 8px 12px; color: #111;\">{{ $json.submitter_email }}</td>       </tr>       <tr style=\"background: #f5f7fa;\">         <td style=\"padding: 8px 12px; font-weight: bold; color: #333;\">Submission Date</td>         <td style=\"padding: 8px 12px; color: #111;\">{{ $json.submitted_at }}</td>       </tr>     </table>      <div style=\"margin-top: 20px; padding: 16px; background: #fffbf0; border-left: 4px solid #e0a800; border-radius: 4px;\">       <p style=\"margin: 0 0 8px 0; font-weight: bold; font-size: 13px; color: #333;\">Agent Summary</p>       <p style=\"margin: 0; font-size: 13px; color: #555; line-height: 1.6;\">{{ $json.summary }}</p>     </div>      <div style=\"margin-top: 20px;\">       <p style=\"margin: 0 0 12px 0; font-weight: bold; font-size: 13px; color: #333;\">         Critical Flags Detected ({{ $json.flag_count }})       </p>       <div style=\"background: #fcebeb; border: 1px solid #f5c6c6; border-radius: 4px; padding: 12px;\">         <p style=\"margin: 0; font-size: 12px; color: #a32d2d; line-height: 1.8; font-family: monospace;\">           {{ $json.action_reason }}         </p>       </div>     </div>    </div>    <div style=\"background: #f5f7fa; padding: 16px; border-radius: 0 0 8px 8px; border: 1px solid #dddddd; border-top: none;\">     <p style=\"margin: 0; font-size: 12px; color: #888888; text-align: center;\">       This is an automated alert from the Certa Vendor Risk Agent.<br>       Please review the full analysis in your Google Sheets dashboard and take appropriate action.     </p>   </div>  </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        720,
        -288
      ],
      "id": "077a1bab-6c38-4691-82b6-a4799e8a0554",
      "name": "Send a message",
      "webhookId": "8fa3574d-a2bc-44bd-872e-8c5bef2de4a6",
      "credentials": {
        "gmailOAuth2": {
          "id": "Z8SNaXd2ynHBOE6G",
          "name": "Google Sheets account 33"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Read all processed documents from the Completeness Checker node\n// NOT from Google Sheets node which drops all data\nconst items = $('Completeness Checker').all();\n\nif (!items || items.length === 0) {\n  return [{\n    json: {\n      error: true,\n      error_message: 'No items found in Completeness Checker',\n    }\n  }];\n}\n\nconst first = items[0].json;\n\nconst documents = items.map(item => {\n  const d = item.json;\n  return {\n    document_name:      d.document_name || d.filename,\n    document_type:      d.document_type,\n    recommended_action: d.recommended_action,\n    max_severity:       d.max_severity,\n    flag_count:         d.flag_count || 0,\n    flags:              d.flags || [],\n    extracted_fields:   d.extracted_fields || {},\n    summary:            d.summary || '',\n  };\n});\n\nconst vendorRegistrations = documents.filter(d => d.document_type === 'vendor_registration');\nconst contracts          = documents.filter(d => d.document_type === 'contract');\nconst certificates       = documents.filter(d => d.document_type === 'compliance_certificate');\nconst financials         = documents.filter(d => d.document_type === 'financial_statement');\nconst dpas               = documents.filter(d => d.document_type === 'data_privacy_agreement');\nconst insurance          = documents.filter(d => d.document_type === 'insurance_certificate');\n\nconst expectedDocs    = first.expected_docs || [];\nconst presentDocTypes = [...new Set(documents.map(d => d.document_type).filter(Boolean))];\nconst missingDocTypes = expectedDocs.filter(t => !presentDocTypes.includes(t));\n\nconst severityRank  = { critical: 4, high: 3, medium: 2, low: 1, none: 0 };\nconst rankToSeverity = { 4: 'critical', 3: 'high', 2: 'medium', 1: 'low', 0: 'none' };\nconst maxRank = documents.reduce((max, d) => Math.max(max, severityRank[d.max_severity] || 0), 0);\n\nconst totalFlags = documents.reduce((sum, d) => sum + d.flag_count, 0);\n\nreturn [{\n  json: {\n    packet_id:            first.packet_id,\n    vendor_name:          first.vendor_name,\n    vendor_category:      first.vendor_category,\n    submitter_email:      first.submitter_email,\n    packet_reference:     first.packet_reference,\n    today:                first.today,\n    submitted_at:         first.submitted_at,\n\n    total_docs_submitted: documents.length,\n    present_doc_types:    presentDocTypes,\n    missing_doc_types:    missingDocTypes,\n    expected_doc_types:   expectedDocs,\n\n    documents:            documents,\n    vendor_registrations: vendorRegistrations,\n    contracts:            contracts,\n    certificates:         certificates,\n    financials:           financials,\n    dpas:                 dpas,\n    insurance:            insurance,\n\n    packet_max_severity:   rankToSeverity[maxRank],\n    total_flags_in_packet: totalFlags,\n    docs_with_critical:    documents.filter(d => d.max_severity === 'critical').length,\n    docs_with_flags:       documents.filter(d => d.flag_count > 0).length,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        -128
      ],
      "id": "2f40c737-debd-4128-9782-ea51b76a138f",
      "name": "Packet Aggregator"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst data = item.json;\n\nconst systemPrompt = `You are a cross-document consistency validator for a vendor risk management platform. You receive a summary of all documents submitted in a vendor onboarding packet and identify conflicts, inconsistencies, and missing information across documents.\n\nCRITICAL RULES:\n1. Return ONLY valid JSON — no prose, no markdown fences.\n2. Focus on conflicts BETWEEN documents — not within individual documents.\n3. Be specific — cite exact values from each document when flagging conflicts.\n4. Today's date is ${data.today}.\n\nCHECK FOR:\n- Entity name mismatches across documents (vendor_registration vs contract vs DPA)\n- Registration number conflicts (same entity should have same CIN/registration)\n- Address discrepancies across documents\n- Director or signatory conflicts\n- Jurisdiction conflicts between documents\n- Date conflicts (contract effective date vs certificate issue date logic)\n- Missing document types from the expected checklist\n- Data residency conflicts between DPA and other documents\n\nReturn this exact JSON:\n{\n  \"packet_id\": \"\",\n  \"cross_doc_validation_passed\": true,\n  \"conflicts_found\": [],\n  \"missing_documents\": [],\n  \"consistency_score\": 0.0,\n  \"packet_recommended_action\": \"\",\n  \"packet_summary\": \"\"\n}\n\nWhere each conflict in conflicts_found is:\n{\n  \"conflict_id\": \"CONFLICT_001\",\n  \"conflict_type\": \"entity_name_mismatch | registration_conflict | address_conflict | director_conflict | jurisdiction_conflict | date_conflict | data_residency_conflict\",\n  \"severity\": \"critical | high | medium\",\n  \"document_1\": \"filename\",\n  \"value_1\": \"exact value from doc 1\",\n  \"document_2\": \"filename\",\n  \"value_2\": \"exact value from doc 2\",\n  \"detail\": \"specific description of the conflict\",\n  \"recommended_action\": \"what the compliance team should do\"\n}`;\n\nconst userMessage = `Validate the following vendor packet for cross-document consistency.\n\nPacket ID: ${data.packet_id}\nVendor Name: ${data.vendor_name}\nToday: ${data.today}\nExpected Document Types: ${JSON.stringify(data.expected_doc_types)}\nPresent Document Types: ${JSON.stringify(data.present_doc_types)}\nMissing Document Types: ${JSON.stringify(data.missing_doc_types)}\n\nDOCUMENTS SUBMITTED:\n${JSON.stringify(data.documents, null, 2)}\n\nCheck all documents against each other for conflicts and inconsistencies.`;\n\nconst requestBody = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 2000,\n  system: systemPrompt,\n  messages: [{\n    role: 'user',\n    content: userMessage,\n  }]\n};\n\nreturn [{\n  json: {\n    ...data,\n    claude_request_body: JSON.stringify(requestBody),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -128
      ],
      "id": "b479e350-0669-49ff-8132-b89af15593e6",
      "name": "Build Cross-Doc Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "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"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.claude_request_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1472,
        -128
      ],
      "id": "e1a79787-7cda-490f-abd8-302782dfe0e8",
      "name": "Cross-Doc Validator HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const rawResponse = $input.first().json;\nconst metaData = $('Packet Aggregator').first().json;\n\nconst textContent = rawResponse.content[0].text;\n\nlet parsed;\ntry {\n  parsed = JSON.parse(textContent);\n} catch(e) {\n  parsed = {\n    packet_id: metaData.packet_id,\n    cross_doc_validation_passed: false,\n    conflicts_found: [],\n    missing_documents: metaData.missing_doc_types || [],\n    consistency_score: 0,\n    packet_recommended_action: 'review',\n    packet_summary: 'Cross-document validation could not be parsed — manual review required.',\n  };\n}\n\nreturn [{\n  json: {\n    // Cross-doc results\n    packet_id:                   parsed.packet_id || metaData.packet_id,\n    cross_doc_validation_passed: parsed.cross_doc_validation_passed,\n    conflicts_found:             parsed.conflicts_found || [],\n    conflict_count:              (parsed.conflicts_found || []).length,\n    missing_documents:           parsed.missing_documents || metaData.missing_doc_types || [],\n    consistency_score:           parsed.consistency_score || 0,\n    packet_recommended_action:   parsed.packet_recommended_action || 'review',\n    packet_summary:              parsed.packet_summary || '',\n\n    // Packet metadata\n    vendor_name:          metaData.vendor_name,\n    vendor_category:      metaData.vendor_category,\n    submitter_email:      metaData.submitter_email,\n    packet_reference:     metaData.packet_reference,\n    today:                metaData.today,\n    submitted_at:         metaData.submitted_at,\n    total_docs_submitted: metaData.total_docs_submitted,\n    present_doc_types:    metaData.present_doc_types,\n    expected_doc_types:   metaData.expected_doc_types,\n    packet_max_severity:  metaData.packet_max_severity,\n    total_flags_in_packet: metaData.total_flags_in_packet,\n    docs_with_critical:   metaData.docs_with_critical,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -128
      ],
      "id": "e8735856-11a9-4d7b-bf64-1a88efa1d7de",
      "name": "Parse Cross-Doc"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1KBqD1zKB-sBtw-vTy3YlHHWJHJh-_lPKFBVbrEoGShY",
          "mode": "list",
          "cachedResultName": "Vendor Risk Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KBqD1zKB-sBtw-vTy3YlHHWJHJh-_lPKFBVbrEoGShY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 696214509,
          "mode": "list",
          "cachedResultName": "Packet Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KBqD1zKB-sBtw-vTy3YlHHWJHJh-_lPKFBVbrEoGShY/edit#gid=696214509"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Packet ID": "={{ $json.packet_id }}",
            "Vendor Name": "={{ $json.vendor_name }}",
            "Vendor Category": "={{ $json.vendor_category }}",
            "Submitter Email": "={{ $json.submitter_email }}",
            "Packet Reference": "={{ $json.packet_reference }}",
            "Submission Date": "={{ $json.submitted_at }}",
            "Total Docs Submitted": "={{ $json.total_docs_submitted }}",
            "Present Doc Types": "={{ $json.present_doc_types }}",
            "Missing Doc Types": "={{ $json.missing_documents }}",
            "Packet Max Severity": "={{ $json.packet_max_severity }}",
            "Total Flags": "={{ $json.total_flags_in_packet }}",
            "Docs With Critical Flags": "={{ $json.docs_with_critical }}",
            "Cross-Doc Validation Passed": "={{ $json.cross_doc_validation_passed }}",
            "Conflict Count": "={{ $json.conflict_count }}",
            "Conflicts Found": "={{ $json.conflicts_found }}",
            "Consistency Score": "={{ $json.consistency_score }}",
            "Packet Recommended Action": "={{ $json.packet_recommended_action }}",
            "Packet Summary": "={{ $json.packet_summary }}"
          },
          "matchingColumns": [
            "Packet ID"
          ],
          "schema": [
            {
              "id": "Packet ID",
              "displayName": "Packet ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor Category",
              "displayName": "Vendor Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitter Email",
              "displayName": "Submitter Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Packet Reference",
              "displayName": "Packet Reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Docs Submitted",
              "displayName": "Total Docs Submitted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Present Doc Types",
              "displayName": "Present Doc Types",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Missing Doc Types",
              "displayName": "Missing Doc Types",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Packet Max Severity",
              "displayName": "Packet Max Severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Flags",
              "displayName": "Total Flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Docs With Critical Flags",
              "displayName": "Docs With Critical Flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cross-Doc Validation Passed",
              "displayName": "Cross-Doc Validation Passed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conflict Count",
              "displayName": "Conflict Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conflicts Found",
              "displayName": "Conflicts Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consistency Score",
              "displayName": "Consistency Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Packet Recommended Action",
              "displayName": "Packet Recommended Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Packet Summary",
              "displayName": "Packet Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1888,
        -128
      ],
      "id": "4bf64a99-f85a-4070-8160-b2491c51e365",
      "name": "Packet Summary",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lOacGbKrb5rlJVaD",
          "name": "Google Sheets account 34"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parse Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vendor Document Submission": {
      "main": [
        [
          {
            "node": "Build Packet Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Packet Metadata": {
      "main": [
        [
          {
            "node": "Split Files into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Files into Items": {
      "main": [
        [
          {
            "node": "Format Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Router": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract DOCX Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract PNG Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract JPEG Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract DOCX Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract PNG Base64": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Extract JPEG Base64": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge PDF Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge CSV Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Merge CSV Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Merge XLSX Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge XLSX Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Request": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Code": {
      "main": [
        [
          {
            "node": "Flag Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Engine": {
      "main": [
        [
          {
            "node": "Completeness Checker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completeness Checker": {
      "main": [
        [
          {
            "node": "Severity Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Severity Router": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheet Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheet Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Google Sheet Update": {
      "main": [
        [
          {
            "node": "Packet Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Packet Aggregator": {
      "main": [
        [
          {
            "node": "Build Cross-Doc Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cross-Doc Request": {
      "main": [
        [
          {
            "node": "Cross-Doc Validator HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cross-Doc Validator HTTP Request": {
      "main": [
        [
          {
            "node": "Parse Cross-Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cross-Doc": {
      "main": [
        [
          {
            "node": "Packet Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dc2ac0ce-4b10-448b-87e0-e06c189e60d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2587fc5c8ae8d65161bd5a2025231226e24b491cb5071d12e3f6ecf9b8cbffa"
  },
  "id": "7aiIhXDWcdwyahbl",
  "tags": []
}